In [1]:
import pandas
import matplotlib
import pandas as pd
import numpy as np

matplotlib.use("TkAgg")
pandas.set_option('display.max_columns', None)

In [2]:
path = 'data.csv'
data = pd.read_csv(path)

In [3]:
# Remove duplicates and entries without a price
data.drop_duplicates(inplace=True)
data.dropna(subset=["price", "type"], inplace=True)
data.reset_index(drop=True, inplace=True)

In [4]:
data.groupby("city")["city"].describe()

            count unique          top freq
city
Aberdare      125      1     Aberdare  125
Aberdeen       81      1     Aberdeen   81
Abergavenny    48      1  Abergavenny   48
Abertillery    57      1  Abertillery   57
Aberystwyth    39      1  Aberystwyth   39
...           ...    ...          ...  ...
Wrexham       466      1      Wrexham  466
Wyke           29      1         Wyke   29
Yate           47      1         Yate   47
York          367      1         York  367
city            1      1         city    1

[512 rows x 4 columns]

In [13]:
# Remove data from cities that have less than 100 entries
city_counts = data["city"].value_counts()
data = data[~data["city"].isin(city_counts[city_counts <= 100].index)]
data.groupby("city")["city"].describe()

In [23]:
data

,price,type,address,url,agent_url,postcode,full_postcode,number_bedrooms,search_date,city,lat,long
0,260000.0,4 bedroom semi-detached house for sale,"Johns Lane, Hirwaun, CF44 9TQ",http://www.rightmove.co.uk/properties/12539948...,http://www.rightmove.co.uk/estate-agents/agent...,CF44,CF44 9TQ,4.0,2022-09-17 20:23:35.136447,Aberdare,51.738987,-3.504362
1,145000.0,4 bedroom end of terrace house for sale,"Bell Street, Aberdare, Mid Glamorgan",http://www.rightmove.co.uk/properties/12717744...,http://www.rightmove.co.uk/estate-agents/agent...,NaN,NaN,4.0,2022-09-17 20:23:35.136447,Aberdare,51.721033,-3.454723
2,170000.0,3 bedroom terraced house for sale,"Bute Terrace, Aberdare, Mid Glamorgan",http://www.rightmove.co.uk/properties/12539620...,http://www.rightmove.co.uk/estate-agents/agent...,NaN,NaN,3.0,2022-09-17 20:23:35.136447,Aberdare,51.710768,-3.441247
3,175000.0,3 bedroom terraced house for sale,"Trevor Street, Aberdare, Mid Glamorgan",http://www.rightmove.co.uk/properties/12404807...,http://www.rightmove.co.uk/estate-agents/agent...,NaN,NaN,3.0,2022-09-17 20:23:35.136447,Aberdare,51.709336,-3.44791
4,229995.0,3 bedroom semi-detached house for sale,"Derwent Drive, Aberdare, South Glamorgan, Rhon...",http://www.rightmove.co.uk/properties/12694738...,http://www.rightmove.co.uk/estate-agents/agent...,CF44,NaN,3.0,2022-09-17 20:23:35.136447,Aberdare,51.71133,-3.41749
...,...,...,...,...,...,...,...,...,...,...,...,...
86595,595000.0,4 bedroom end of terrace house for sale,"Charlton Street, York, YO23",http://www.rightmove.co.uk/properties/11608734...,http://www.rightmove.co.uk/estate-agents/agent...,YO23,NaN,4.0,2022-09-28 13:35:19.429534,York,53.950639,-1.084873
86596,365000.0,5 bedroom semi-detached house for sale,"Cherry Wood Crescent, Fulford, York",http://www.rightmove.co.uk/properties/85711197...,http://www.rightmove.co.uk/estate-agents/agent...,NaN,NaN,5.0,2022-09-28 13:35:19.429534,York,53.92686,-1.065574
86597,1500000.0,5 bedroom town house for sale,"St. Martins Lane, York, YO1 6LN",http://www.rightmove.co.uk/properties/11392433...,http://www.rightmove.co.uk/estate-agents/agent...,YO1,YO1 6LN,5.0,2022-09-28 13:35:19.429534,York,53.956947,-1.08736
86598,1575000.0,10 bedroom semi-detached house for sale,"St. George's Place, York, YO24",http://www.rightmove.co.uk/properties/81442933...,http://www.rightmove.co.uk/estate-agents/agent...,YO24,NaN,10.0,2022-09-28 13:35:19.429534,York,53.948883,-1.101566
86599,1500000.0,5 bedroom house for sale,"St. Martins Lane, York, North Yorkshire, YO1",http://www.rightmove.co.uk/properties/10194097...,http://www.rightmove.co.uk/estate-agents/agent...,YO1,NaN,5.0,2022-09-28 13:35:19.429534,York,53.95698,-1.087477

In [26]:
data.drop(["address", "url", "agent_url", "postcode", "full_postcode", "search_date"], inplace=True, axis=1)

In [27]:
data

,price,type,number_bedrooms,city,lat,long
0,260000.0,4 bedroom semi-detached house for sale,4.0,Aberdare,51.738987,-3.504362
1,145000.0,4 bedroom end of terrace house for sale,4.0,Aberdare,51.721033,-3.454723
2,170000.0,3 bedroom terraced house for sale,3.0,Aberdare,51.710768,-3.441247
3,175000.0,3 bedroom terraced house for sale,3.0,Aberdare,51.709336,-3.44791
4,229995.0,3 bedroom semi-detached house for sale,3.0,Aberdare,51.71133,-3.41749
...,...,...,...,...,...,...
86595,595000.0,4 bedroom end of terrace house for sale,4.0,York,53.950639,-1.084873
86596,365000.0,5 bedroom semi-detached house for sale,5.0,York,53.92686,-1.065574
86597,1500000.0,5 bedroom town house for sale,5.0,York,53.956947,-1.08736
86598,1575000.0,10 bedroom semi-detached house for sale,10.0,York,53.948883,-1.101566
86599,1500000.0,5 bedroom house for sale,5.0,York,53.95698,-1.087477